@{
    ViewData["Title"] = "Home test";
}

<div class="text-center">
    <h1 class="display-4">Sávio Carvalho</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building teste apps with ASP.NET Core</a>.</p>
    <p> lorem ipson</p>
</div>
